/* * {
  box-sizing: border-box;
}
body {
  width: 1440px;
  margin: 0px auto;
  background-color: #000000;
  font-family: Stratos;
  color: #d9d9d9;
  background-image: url("../images/1440.png");
}
p {
  font-family: "StratosThinItalic";
}
h1 {
  font-family: "StratosThinItalic";
} */
/* стили для about html  */
* {
  box-sizing: border-box;
}

body {
  width: 1440px;
  display: block;
  margin: 0 auto;
  background-color: #000000;
  color: aliceblue;
  font-family: "Stratos";
  font-weight: 500;
}
body::after {
  content: "";
  background-image: url("../images/1.png");
  width: 1440px;
  height: 10345px;
  position: absolute;
  top: 0;
  left: calc(50% - 720px);
  opacity: 0.3;
}

#section-1 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 48px 145px;
  font-size: 23px;
  opacity: 50%;
}
#section-1 p {
  font-family: "Stratos";
  font-weight: 900;
  font-style: normal;
}
/* .navigation2 {
  margin: 0px 217px;
}
.navigation3 {
  margin: 0px 458px;
}
.navigation4 {
  margin: 0px 645px;
} */
